<h2 th:text="${table}"></h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th th:each="f : ${meta.editableFields}" th:text="${f}"></th>
    </tr>

    <tr th:each="row : ${rows}">
        <td th:text="${row.id}"></td>

        <td th:each="f : ${meta.editableFields}">
            <form th:action="@{/admin/{t}/{id}/update(t=${table},id=${row.id})}"
                  method="post">
                <input name="field" th:value="${f}" hidden />
                <input name="value" />
                <button>save</button>
            </form>
        </td>
    </tr>
</table>
