<h2>Admin DB</h2>

<div style="display:flex;border-bottom:1px solid #ccc;">
    <a th:each="t : ${tables}"
       th:href="@{/admin(table=${t})}"
       th:text="${t}"
       style="padding:10px"
       th:styleappend="${t == activeTable} ? 'font-weight:bold;border-bottom:3px solid black;'">
    </a>
</div>

<table border="1" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th th:each="f : ${meta.editableFields}" th:text="${f}"></th>
        <th></th>
    </tr>

    <tr th:each="r : ${rows}">
        <td th:text="${r['id']}"></td>

        <td th:each="f : ${meta.editableFields}"
            th:text="${r[f]}"></td>

        <td>
            <a th:href="@{/admin/{t}/{id}(t=${activeTable},id=${r['id']})}">
                view
            </a>
        </td>
    </tr>
</table>
